* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: auto;
    background-color: rgba(20, 20, 22, 1);
}


header {
    background-color: rgba(34, 37, 41, 1);
    height: 78px;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;
}

header div:nth-child(1) img {
    height: 38px;
    width: 40px;
    margin: 20px 10px 20px 40px;
}

header div:nth-child(1) p {
    font-size: 20px;
    font-weight: 700;
}


header div:nth-child(2) {
    margin-right: 25px;
    display: flex;
    align-items: center;
}


header div:nth-child(2) img {
    width: 32px;
    height: 32px;
    border-radius: 19px;
    margin-left: 10px;
}

header div:nth-child(2)>.rectangle {
    height: 6px;
    width: 10px;
}

.line {
    width: 1px;
    height: 32px;
    background-color: #3B3E44;
    margin-right: 20px;
}

.Bell {
    margin-right: 20px;
}

.Bell img:nth-of-type(1) {
    height: 20px;
    width: 18px;
}

.nameUser {
    color: #E7ECF3;
    font-size: 16.4px;
    font-weight: 500px;
    margin-left: 25px;
}

.title-head p {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    padding-top: 40px;
    padding-bottom: 26px;
    color: white;
}

.title-head div {
    background-color: rgba(250, 143, 84, 1);
    height: 10px;
    width: 148px;
    margin: 0 auto;
    border-radius: 6px;
}

.content {
    margin-top: 167px;
    display: grid;

    grid-template-columns: 500px 500px;
    grid-template-rows: 560px;
    justify-content: center;
    box-sizing: border-box;
    column-gap: 180px;
    row-gap: 145px;
}

.A,
.B,
.C {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    background-color: rgba(34, 37, 41, 1);
}

.A img,
.B img {
    width: 450px;
    height: 252px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.A p,
.B p {
    margin-left: 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    height: 526px;
}

.C-child {
    display: flex;
    justify-content: space-between;
}

.C-child>p:nth-child(1) {
    display: inline-block;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 18px;
    margin-left: 25px;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: rgba(250, 143, 84, 0.1);
    color: rgba(242, 153, 74, 1);
    font-size: 7.6656px;
    line-height: 10px;
}


.C-child>p:nth-child(2) {
    margin-right: 62px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(177, 181, 195, 1);
}

.C-child-2 {
    margin-left: 25px;
    margin-right: 62px;
}

.C-child-2 h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 12px;
}

.C-child-2 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(177, 181, 195, 1);
}

.detail {
    display: flex;
    margin-top: 15px;
    margin-bottom: 21px;
}

.detail img {
    width: 40px;
    height: 40px;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
}

.authorInfo p {
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(177, 181, 195, 1);
}

.detail button {
    font-size: 9px;
    line-height: 14px;
    width: 70px;
    height: 22px;
    padding: 4px 9px;
    color: rgba(231, 236, 243, 1);
    background-color: transparent;
    border: 1px solid rgba(250, 143, 84, 1);
    border-radius: 3px;
}

.buttonColor button {
    border: 1px solid rgba(135, 140, 255, 1);
}

.img-content {
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* ////////////////////////////////////////////////////////////////
 */
hr {
    border: 0.5px solid rgba(59, 62, 68, 1);
}

.hidden {
    display: none;
}

footer {
    margin-top: 270px;
    height: 600px;
    background-color: rgba(34, 37, 41, 1);
    color: rgba(231, 236, 243, 1);
}

footer .containerFooter {
    padding: 220px 196px 150px 195px;
    display: flex;
    flex-direction: row;
    gap: 148px;
    height: 240px;
}

.FukuokaIcon {
    display: flex;
    align-items: center;
    gap: 10px;

}

.FukuokaIcon img {
    width: 40px;
    height: 38px;
}

.FukuokaIcon h4 {
    font-size: 20px;
    font-weight: 700;
}

.modeImg {
    width: 128px;
    height: 38px;
}

.containerFooter p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(132, 135, 139, 1);
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 72px;
    gap: 30px;
}

.column-other {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-other h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

/* .containerFooter .Title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
} */



@media screen and (max-width: 375px) {

    header {
        height: 88px;
    }

    header div:nth-child(2) img {
        width: 28px;
        height: 28px;
    }

    .nameUser {
        display: none;
    }

    .line {
        height: 25px;
    }

    .title-head p {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        padding: 30px 70px 20px 70px;
    }

    .title-head div {
        height: 10px;
        width: 104px;
        margin: 0 auto;
        border-radius: 6px;
    }

    .content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 375px;
        justify-content: center;
        box-sizing: border-box;
        gap: 20px;
    }

    .A,
    .B,
    .C {
        width: 335px;
        height: 464px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        color: white;
        background-color: rgba(34, 37, 41, 1);
    }

    .A img,
    .B img {
        width: 303px;
        height: 172px;
        margin-bottom: 64px;
    }

    .A p,
    .B p {
        margin: 0;
        padding-left: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .C-child {
        display: flex;
        justify-content: space-between;
    }

    .C-child>p:nth-child(1) {
        display: inline-block;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 18px;
        margin-left: 25px;
        padding: 7px 12px;
        background-color: rgba(250, 143, 84, 0.1);
        border-radius: 4px;
        color: rgba(242, 153, 74, 1);
        font-size: 7.66656px;
        line-height: 10px;
    }


    .C-child>p:nth-child(2) {
        margin-right: 62px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(177, 181, 195, 1);
    }

    .C-child-2 {
        margin-left: 16px;
        margin-right: 25px;
    }

    .C-child-2 h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .C-child-2 p {
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        color: rgba(177, 181, 195, 1);
    }

    .detail {
        display: flex;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .author {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .authorInfo {
        display: flex;
        flex-direction: column;
    }

    .authorInfo h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: 24px;
    }

    .authorInfo p {
        font-size: 8px;
        font-weight: 400;
        line-height: 11px;
        color: rgba(177, 181, 195, 1);
    }

    .detail button {
        font-size: 10px;
        line-height: 15px;
        width: 74px;
        height: 24px;
        padding: 5px 9px;
        color: rgba(231, 236, 243, 1);
        background-color: transparent;
        border: 1px solid rgba(250, 143, 84, 1);
        border-radius: 3px;
    }

    .buttonColor button {
        border: 1px solid rgba(135, 140, 255, 1);
    }

    .img-content {
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    /* ////////////////////////////////////////////////////////////////
     */
    footer {
        margin-top: 270px;
        height: 722px;
        background-color: rgba(34, 37, 41, 1);
        color: rgba(231, 236, 243, 1);
    }

    footer .containerFooter {
        padding: 53px 30px 25px 30px;
        display: grid;
        grid-column: auto;
        height: 578px;
        gap: 14px;
    }

    .containerFooter p {
        height: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }

    .FukuokaIcon {
        gap: 10px;
        height: 20px;
    }

    .FukuokaIcon img {
        width: 22px;
        height: 20px;
    }

    .FukuokaIcon h4 {
        font-size: 14px;
    }

    .column-1 p {
        display: none;
    }

    .modeImg {
        width: 128px;
        height: 38px;
    }

    .column-1 {
        grid-row: 6/7;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 72px;
        gap: 24px;
    }

    .column-other {
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .column-other h4 {
        margin-bottom: 4px;
    }

    .column-other h4 {
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .row-2 {
        grid-row: 1/2;
    }

    .row-3 {
        grid-row: 3/4;
    }

    .row-4 {
        grid-row: 5/6;
    }

    .rowLine-1 {
        grid-row: 2/3;
    }

    .rowLine-2 {
        grid-row: 4/5;
    }

    .hidden {
        display: block;
    }

    /* 
    .containerFooter .Title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    } */
}