* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

h2 {
    color: rgb(144, 144, 144);
    margin: 50px 0;
}

.avatar img {
    border-radius: 50px;
}

nav {
    /* border: 1px solid rgba(0, 0, 0, 0.368); */
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: center;
    color: grey;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar div {
    margin-top: 20px;
    margin-bottom: 30px;
}

.naVi {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.naVi a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

.naVi .item:hover {
    color: plum;
    background-color: rgba(221, 160, 221, 0.423);
}

.naVi .item {
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}

.naVi .item div {
    width: 16px;
    margin-right: 20px;
    margin-left: 20px;
}

/* ///////////////// */
.content {
    /* margin-left: 50px; */
    align-self: center;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    row-gap: 60px;
    column-gap: 20px;
}

@media screen and (max-width: 375px) {
    .content {
        grid-template-columns: repeat(2, 100px);
        /* grid-template-rows: repeat(2, 200px); */
        row-gap: 10px;
        column-gap: 10px;

    }

    .item img {
        width: 100px;
        height: 100px;
    }
}